*.pyc
*~
/__pycache__
/db.sqlite3
/static
.DS_Store
/env/
*.pyo
*.pyd
.Python
env.py
.env.local
.env
celerybeat-schedule
docker-compose.yml
Dockerfile
dockerfile
.git
.gitignore
.md
.csv